body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

header{
    background: linear-gradient(rgba(84,93,220,.5), rgba(96,171,245,.9)), url(../imagenes/fondo.jpg);
    height: 100vh;
    background-size: cover;
}

#contenedor-titulo-flex {
    display: flex;
    justify-content: center;
    margin: 18vh 0;
}

h1{
    font-size: 60px;
    color: #fff;
}

h2{
    font-size: 25px;
    color: #fff;
    text-align: center;
}